.app.dark-theme {
    --modal-overlay-primary: #1e252bcc;
    --app-bg-primary: #1e252b;
    --component-bg-primary: #262d34;
    --component-bg-secondary: #2c353d;
    --component-bg-tertiary: #ff571a;
}

.app.light-theme {
    --modal-overlay-primary: #1e252bcc;
    --app-bg-primary: #e6e8ea;
    --component-bg-primary: #fff;
    --component-bg-secondary: #fff;
    --component-bg-tertiary: #ff571a;
}
